<nav  class="navbar navbar-expand-lg d-flex navbar-dark justify-content-between"
style="background-color: #101a335d !important">
  
  
    <a class="navbar-brand" href="#">
      <img src="assets/navbar/png.webp" class="d-inline-block align-top" alt="">
    </a>
    <ul class="navbar-nav ml-auto d-flex flex-row pr-4">
      <li class="nav-item ms-5">
        <a class="nav-link" href="/index">Inicio</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link" href="/info">Info</a>
      </li>
    </ul>
  </nav>
  