<app-navbar></app-navbar>
<video autoplay muted loop class="video-background">
    <source src="assets/index/videofondo.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>
  <div class="video-overlay"></div>

  <div class="video-overlay"></div>
<div class="container">
    <div>
        <h1>Tecnologías Del Futuro</h1>
        <p>Aquí puedes encontrar información sobre tecnologías:</p>
        <table>
            <tr>
                <th>Tecnología</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>Inteligencia Artificial</td>
                <td>La IA es el desarrollo de sistemas informáticos capaces de realizar tareas que normalmente requieren inteligencia humana.</td>
            </tr>
            <tr>
                <th>Computación en la nube: </th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>Computación en la nube:</td>
                <td> La computación en la nube es la entrega de servicios de computación, como servidores, almacenamiento, bases de datos, redes, software, análisis e inteligencia, a través de internet ("la nube") para ofrecer una mayor flexibilidad, escalabilidad y eficiencia.

                </td>
            </tr> <tr>
                <th>Realidad Virtual:</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>Realidad Virtual:</td>
                <td>La realidad virtual es una tecnología que permite a los usuarios sumergirse en un entorno generado por computadora e interactuar con él de manera similar a como lo harían en el mundo real.</td>
            </tr> 
        </table>
    </div>
    <div class="info">
        <h2>CONTACTAME</h2>
        <table>
            <tr>
                <th>Nombre</th>
                <td>Alan Castro</td>
            </tr>
            <tr>
                <th>Número de Celular</th>
                <td>897736487623</td>
            </tr>
            <tr>
                <th>Correo Electrónico</th>
                <td>alancastrogmail.com</td>
            </tr>
        </table>
        <img src="assets/index/avata.png" alt="alan cj">
    </div>
</div>
