<div class="vh-100 background d-flex flex-column">
  <app-navbar></app-navbar>
  <video autoplay muted loop class="video-background">
    <source src="assets/index/videofondo.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>
  <div class="video-overlay"></div>

  <div class="video-overlay"></div>
  <div class="container flex-grow-1 d-flex flex-column justify-content-start align-items-center pt-5">

    <h1 class="main-title text-center">
      <span class="letter orange-text">"</span>
      <span class="letter white-text">D</span>
      <span class="letter white-text">e</span>
      <span class="letter white-text">s</span>
      <span class="letter white-text">c</span>
      <span class="letter white-text">u</span>
      <span class="letter white-text">b</span>
      <span class="letter white-text">r</span>
      <span class="letter white-text">e</span>
      <span class="letter spacer"> </span>
      <span class="letter white-text">L</span>
      <span class="letter white-text">a</span>
      <span class="letter white-text">s</span>
      <span class="letter spacer"> </span>
      <span class="letter white-text">N</span>
      <span class="letter white-text">u</span>
      <span class="letter white-text">e</span>
      <span class="letter white-text">v</span>
      <span class="letter white-text">a</span>
      <span class="letter white-text">s</span>
      <span class="letter spacer"> </span>
      <span class="letter orange-text">T</span>
      <span class="letter orange-text">e</span>
      <span class="letter orange-text">c</span>
      <span class="letter orange-text">n</span>
      <span class="letter orange-text">o</span>
      <span class="letter orange-text">l</span>
      <span class="letter orange-text">o</span>
      <span class="letter orange-text">g</span>
      <span class="letter orange-text">í</span>
      <span class="letter orange-text">a</span>
      <span class="letter orange-text">s</span>
      <span class="letter white-text">"</span>
    </h1>

    <img src="assets/index/lo.png" class="main-image" alt="Imagen de tecnologías" />
    <small class="text-center mb-5">PaginaWEB Creada por AlanCastro.</small>

    <button type="button" class="btn btn-call-action mt-auto futuristic-btn" (click)="createRandomNewsletter()">
      Consumir
    </button>
    <div class="row mt-5 w-100">
      <div class="col-12 text-center">
        <h5>Tus resultados</h5>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 py-2" *ngFor="let newsle of newsletter">
        <img [src]="newsle.avatar" alt="" class="highlight-on-hover" />
        <p class="mb-0" style="color: white;">{{ newsle.createdAt }}</p>
        <p class="mb-0" style="color: white;">{{ newsle.name }}</p>
        <button type="button" class="btn btn-danger btn-sm mt-2" (click)="deleteNewsletter(newsle.id)">
          eliminar
        </button>
      </div>
    </div>
    
  </div>
</div>
